{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
form#exercises {
    font-size: 50px;
    margin-left: 33%;
    width: 30%;
}
#results {
    bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height:35px;
    width: 20%;
}
#countTrue {
    background-color: #2EFE64;
    padding: 5px;
}
#countFalse {
    background-color: #FA5858;
    color: white;
    padding: 5px;
}
</style>
{% endblock %}
{% block body %}
<h2>Training : kana to romaji</h2>
<div display="inline:block">
    <select id="syllabary" name="syllabary">
        <option value="hiragana">Hiragana</option>
        <option value="katakana">Katakana</option>
        <option value="both" selected="selected">Both</option>
    </select>
    <input id="times" type="text" value="10" name="times" size="1"></input>
    &nbsp;&nbsp;<button id="go">Go</button><br/>
    <label>Clear form ?</label>
    <input id="clear" type="radio" name="clear" value="yes">Yes</input>
    <input id="clear" type="radio" name="clear" value="no">No</input><br/>
</div>
<p></p>
<form id="exercises">
</form>
<div id="results">
    <span id="countTrue"><strong>0</strong> True</span>
    <span id="countFalse"><strong>0</strong> False</span>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
         /* EVENTS */
    /* ******************* */

    $(document).ready(function() {
        $("option[value='both']").prop("selected", true);
        $("#times").val(10);
        $("#clear[value=no]").prop("checked", true);
        $.get("/exercises/both/10", function(data) {
            createForm(data);
        });
    });

    $("#syllabary").on("change", function(event) {
        $.get("/exercises/" + $(this).val() + "/" + $("#times").val(), function(data) {
            ( $("#clear:checked").val() == "yes" ? createForm(data) : reloadForm() );
        });
        event.preventDefault();
    });

    $("#times").on("change", function(event) {
        $.get("/exercises/" + $("#syllabary").val() + "/" + $(this).val(), function(data) {
            ( $("#clear:checked").val() == "yes" ? createForm(data) : reloadForm() );
        });
        event.preventDefault();
    });

    $("#go").on("click", function(event) {
        $.get("/exercises/" + $("#syllabary").val() + "/" + $("#times").val(), function(data) {
            ( $("#clear:checked").val() == "yes" ? createForm(data) : reloadForm() );
        });
        event.preventDefault();
    });
    
    $(document).on("change", ".exercise", function(event) {
        var countTrue = $("#countTrue").children("strong").html();
        (
            $(this).val().toLowerCase() == $(this).next("input[type=hidden]").val() ?
                $(this).attr("data-ctrl", true).prop("disabled", true).css("opacity", 0)
                    .parent().css("background-color", "#2EFE64")
                        .children("label").css({"color" : "black", "font-weight" : ''})
                    &&
                
                $(this).siblings(".showAnswer").before("<label>" + $(this).val().toLowerCase() + "</label>").remove()
                
                    &&
                    
                countTrue++
            :
                $(this).attr("data-ctrl", false)
                    .parent().css("background-color", "#FA5858")
                        .children("label").css({"color" : "white", "font-weight" : "bold"})
        );
        
        $("#countTrue").children("strong").html(countTrue);
        
        var last = $("input.exercise").last();
        
        //If last element of form, check all inputs
        if ($(this).is(last)) {
            reloadForm();
        }
        
        event.preventDefault();
    });
    
    $(document).on("click", ".showAnswer", function(event) {
        $(this).before("<label>" + $(this).siblings(".answer").attr("value") + "</label>");
        $(this).siblings(".exercise").attr("data-ctrl", true).prop("disabled", true).css("opacity", 0)
                    .parent().css("background-color", "#FA5858")
                        .children("label").css({"color" : "white", "font-weight" : "bold"})
        $(this).parent().children(".exercise").prop("disabled", true);
        $(this).remove();
        var oldCount = $("#countFalse").children("strong").html();
        $("#countFalse").children("strong").html(++oldCount);
        event.preventDefault();
    });
    
    $("#times").on("keyup", function(e) {
        if (e.keyCode === 13) { // Enter
        $.get("/exercises/" + $("#syllabary").val() + "/" + $("#times").val(), function(data) {
            ( $("#clear:checked").val() == "yes" ? createForm(data) : reloadForm() );
        });
       }
    });
    $(document).on("keypress", ".exercise", function(e) {
       if (e.keyCode === 13) { // Disable Enter in form
           return false;
       } 
    });
    $(document).on("keyup", ".exercise", function(e) {
       if (e.keyCode === 13) { // Reload form after disabling Enter
           reloadForm();
       } 
    });
    $(document).on("keypress", ".exercise:last", function(e) {
        if (e.keyCode === 9) { // Tab
            e.preventDefault();
            reloadForm();
       }
    });
    
         /* FUNCTIONS */
    /* ******************* */
    
    function createForm(data, clear=true) {
        if (clear == true) { // Default : removes all previous elements in form
            $("#exercises").empty();
        }
        for (char in data) {
            var line = "<fieldset style='border:none'>";
            line += "<label>" + char + "</label>&nbsp;&nbsp;";
            line += "<button class='showAnswer' tabindex='1' style='float:right'>Answer</button>";
            line += "<input class='exercise' type='text' data-ctrl='false'>";
            line += "<input class='answer' type='hidden' value='"+data[char]+"'/><br/>";
            line += "</fieldset>";
            $("#exercises").append(line);
        }
    }
    
    function reloadForm() {
        var remains = $("input.exercise").length;
        $("input.exercise").each(function(idx, el) {
            if ($(el).attr("data-ctrl") == "true") { // If good answer
                $(el).parent().fadeOut(); // Remove element
                $(el).parent().remove();
                remains--;
            }
        });
        if (remains < $("#times").val()) {
            diff = $("#times").val() - remains
            if (diff > 0) { // If there's less elements than asked
                $.get("/exercises/" + $("#syllabary").val() + "/" + diff, function(data) {
                    createForm(data, false); // Reload sufficient elements to fulfill request
                });
            }
        }
        setTimeout(function() {
            window.scrollTo(0,0);
            $("input.exercise:first").focus(); 
        }, 1);
    }
    
</script>
{% endblock %}
