{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
form#exercises {
    font-size: 50px;
    margin-left: 33%;
    width: 30%;
}
#results {
    bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height:35px;
    width: 20%;
}
#countTrue {
    background-color: #2EFE64;
    padding: 5px;
}
#countFalse {
    background-color: #FA5858;
    color: white;
    padding: 5px;
}
#listKana {
    display: none;
    background-color: white;
    opacity: 1;
    z-index: 150;
    position: fixed;
    font-size: 40px;
    width: 45%;
    height: 51%;
    top: 50%;
    left: 50%;
    margin-top: -15%; /* Negative half of height. */
    margin-left: -25%; /* Negative half of width. */
}
td.kana { // Effet bombé
    top: 0px;
	left: 5%;
	width: 90%;
	height: 50px;
	border-radius: 125px / 12px;
	box-shadow: 0 0 8px #555;
}
td.kana:nth-child(even) {
    background-color: #8a8a5c;
}
td.kana:nth-child(odd) {
    background-color: #ccccb3;
}
td.kana:hover {
    color: white;
}
</style>
{% endblock %}
{% block body %}
<h2>Training : romaji to kana</h2>
<div display="inline:block">
    <select id="exerciseType" name="exerciseType">
        <option value="romaji2hiragana">Hiragana</option>
        <option value="romaji2katakana">Katakana</option>
    </select>
    <input id="times" type="text" value="10" name="times" size="1"></input>
    &nbsp;&nbsp;<button id="go">Go</button><br/>
    <label>Clear form ?</label>
    <input id="clear" type="radio" name="clear" value="yes">Yes</input>
    <input id="clear" type="radio" name="clear" value="no">No</input><br/>
</div>
<p></p>
<div id="listKana">
</div>
<form id="exercises">
</form>
<div id="results">
    <span id="countTrue"><strong>0</strong> True</span>
    <span id="countFalse"><strong>0</strong> False</span>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/public/jquery.js"></script>
{#<script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.slim.min.js"></script>#}
<script type="text/javascript">
         /* EVENTS */
    /* ******************* */

    $(document).ready(function() {
        $("option[value='romaji2hiragana']").prop("selected", true);
        $("#times").val(10);
        $("#clear[value=no]").prop("checked", true);
        $.get("/exercises/romaji2hiragana/10", function(data) {
            createForm(data);
        });
    });
    
    $(document).on("click", ".displayListKana", function(event) {
        event.preventDefault();
       $(this).prev(".exercise").attr("id", "tmpClicked");
       $("#listKana").css("display",'block');
       $(document).on("keypress", "body", function(e) {
          if (e.keyCode == 27) {
              $("#listKana").css("display",'none');
              $("#tmpClicked").removeAttr("id");
          } 
       });
    });

    $(document).on("click", ".kana", function() {
        $("#listKana").css("display", "none");
        $("#tmpClicked").val($(this).text());
        var countTrue = $("#countTrue").children("strong").html();
        
        (
            $("#tmpClicked").val() == $("#tmpClicked").siblings(".answer").val() ?
                $("#tmpClicked").prop("disabled", true).css("opacity", 0)
                    .parent().css("background-color", "#2EFE64")
                        .children("label").css({"color" : "black", "font-weight" : ''})
                        .siblings(".showAnswer").before("<label>" + $(this).text() + "</label>").remove()            
                &&
            
            $("#tmpClicked").siblings(".displayListKana").remove()
            
                &&
                
            countTrue++                
                        
            :
                $("#tmpClicked").attr("data-ctrl", false)
                    .parent().css("background-color", "#FA5858")
                        .children("label").css({"color" : "white", "font-weight" : "bold"})
        
        );
        $("#countTrue").children("strong").html(countTrue);
        $("#tmpClicked").removeAttr("id");
    });
    
    $("#exerciseType").on("change", function(event) {
        $.get("/exercises/" + $(this).val() + "/" + $("#times").val(), function(data) {
            ( $("#clear:checked").val() == "yes" ? createForm(data) : reloadForm() );
        });
        event.preventDefault();
    });

    $("#times").on("change", function(event) {
        $.get("/exercises/" + $("#exerciseType").val() + "/" + $(this).val(), function(data) {
            ( $("#clear:checked").val() == "yes" ? createForm(data) : reloadForm() );
        });
        event.preventDefault();
    });

    $("#go").on("click", function(event) {
        $.get("/exercises/" + $("#exerciseType").val() + "/" + $("#times").val(), function(data) {
            ( $("#clear:checked").val() == "yes" ? createForm(data) : reloadForm() );
        });
        event.preventDefault();
    });
    
    $(document).on("click", ".showAnswer", function(event) {
        $(this).before("<label>" + $(this).siblings(".answer").attr("value") + "</label>");
        $(this).siblings(".exercise").attr("data-ctrl", true)
                    .parent().css("background-color", "#FA5858")
                        .children("label").css({"color" : "white", "font-weight" : "bold"})
        $(this).parent().children(".exercise").prop("disabled", true).css("opacity", 0);
        $(this).parent().children(".displayListKana").remove();
        $(this).remove();
        var oldCount = $("#countFalse").children("strong").html();
        $("#countFalse").children("strong").html(++oldCount);
        event.preventDefault();
    });
    
    $("#times").on("keyup", function(e) {
        if (e.keyCode === 13) { // Enter
        $.get("/exercises/" + $("#exerciseType").val() + "/" + $("#times").val(), function(data) {
            ( $("#clear:checked").val() == "yes" ? createForm(data) : reloadForm() );
        });
       }
    });
    $(document).on("keypress", ".exercise", function(e) {
       if (e.keyCode === 13) { // Disable Enter in form
           return false;
       } 
    });
    $(document).on("keyup", ".exercise", function(e) {
       if (e.keyCode === 13) { // Reload form after disabling Enter
        (
            $(this).val() == $(this).next("input[type=hidden]").val() ?
                $(this).attr("data-ctrl", true)
                    .parent().css("background-color", "#2EFE64")
                        .children("label").css({"color" : "black", "font-weight" : ''})
            :
                $(this).attr("data-ctrl", false)
                    .parent().css("background-color", "#FA5858")
                        .children("label").css({"color" : "white", "font-weight" : "bold"})
        );
           reloadForm();
       } 
    });
    $(document).on("keypress", ".exercise:last", function(e) {
        e.preventDefault();
        if (e.keyCode === 9) { // Tab
           reloadForm();
       }
    });
    
         /* FUNCTIONS */
    /* ******************* */
    
    function createForm(data, clear=true) {
        if (clear == true) { // Default : removes all previous elements in form
            $("#exercises").empty();
        }
        
        for (char in data) {
            var line = "<fieldset style='border:none'>";
            line += "<label>" + char + "</label>&nbsp;&nbsp;";
            line += "<button class='showAnswer' tabindex='1' style='float:right'>Answer</button>";
            line += "<input class='exercise' style='width:50%' tabindex='1' type='text' data-ctrl='false'>&nbsp;";
            line += "<button class='displayListKana'>Kana</button>";
            line += "<input class='answer' type='hidden' value='"+data[char]+"'/><br/>";
            line += "</fieldset>";
            $("#exercises").append(line);
        }
        var syllabary = getSyllabary($("#exerciseType").val());
        $("#listKana").html(syllabary);
    }
    
    function reloadForm() {
        var remains = $("input.exercise").length;
        $("input.exercise").each(function(idx, el) {
            if ($(el).attr("data-ctrl") == "true") { // If good answer
                $(el).parent().fadeOut(); // Remove element
                $(el).parent().remove();
                remains--;
            }
        });
        if (remains < $("#times").val()) {
            diff = $("#times").val() - remains
            if (diff > 0) { // If there's less elements than asked
                $.get("/exercises/" + $("#exerciseType").val() + "/" + diff, function(data) {
                    createForm(data, false); // Reload sufficient elements to fulfill request
                });
            }
        }
        var syllabary = getSyllabary($("#exerciseType").val());
        $("#listKana").html(syllabary);
        setTimeout(function() {
            window.scrollTo(0,0);
            $("input.exercise:first").focus(); 
        }, 1);
    }

    function getSyllabary() {
        var str = $("#exerciseType").val();
        var syllabary = str.substr(str.indexOf("2") + 1);
        var list = "<table>";
        $.ajax({
           'type': "GET",
           'async': false,
           'url': "/syllabary/" + syllabary,
           'success': function(data) {
                for (var i in data) {
                    if (i % 10 == 0) {
                        list += "<tr>";
                        var j = 0;
                    }
                    else {
                        j++;
                    }
                    list += "<td class='kana'>" + data[i] + "</td>";
                    if (j == 10) {
                        list += "</tr>\n";
                    }
                }
            }
        });

        list += "</table>";
        return list;
    }
    
</script>
{% endblock %}
